<div class="footer_container">
    <footer class="footer_content">
        <p>Desenvolvido por Tarsila Barros Fritz</p>
        <a href="https://www.linkedin.com/in/tarsibfritz/">
            <img class="likedin-icon" src="./assets/linkedin.svg" alt="Linkedin de Tarsila Barros Fritz">
        </a>
        <a href="https://github.com/tarsibfritz">
            <img class="github-icon" src="./assets/github.svg" alt="ícone do github de Tarsila Barros Fritz">
          </a>
    </footer>
</div>

</body>
</html>