<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/header-footer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <title><%= title %>TaskTracker</title>
</head>
<body>
    <!-- HEADER.EJS -->
    <header class="header_container">
        <div class="header_navigation">
            <a href="/"><h1>TaskTracker</h1></a>
        </div>
        <button href='/task/create'>Tarefas</button>
    </header>