<%- include('header.ejs') %>

<div class="main_container">
    <h1 class="main_container_text">Bem-vindo ao TaskTracker,<p>seu site de organização e gerenciamento de tarefas!</p></h1>
    <h2 class="main_container_subtext">Que tal começar verificando sua lista de tarefas?</h2>
    <p class="main_container_link">
        <a class="task_link" href="/task">Ver tarefas</a>
    </p>
</div>

<%- include('footer.ejs') %>